.container {
    min-width: 800px;
    display: flex;
    justify-content: center;
}

.container textarea {
    width: 250px;
    height: 100px;
}

.input label {
    font-size: 1rem;
    /*display: block;*/
}

.output {
    margin-top: 10px;
}

.output label {
    font-size: 1rem;
    display: block;
}

.solver {
    margin-left: 20px;
}

.solver label {
    display: block;
    padding: 5px;
    margin: 5px;
    text-align: left;
}

.solver h3 {
    font-size: 1rem;
}

.canvas-header {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 500px;
    text-align: left;
}

.step-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.step-container .label {
    padding: 2px 5px;
    background-color: white;
    color: black;
    min-width: 150px;
}

.step-container input {
    margin-top: 2px;
    width: 50px;

}

.canvas-body{
    background: white;
    max-width: 500px;
    margin:0 auto;
}